body {
	font-family: Lato;
}

#game-container {
	width: 404px;
	min-height: 80px;
	background-color: bisque;
	border-radius: 8px;
	margin: 18px;
	box-shadow: 4px 4px 8px 2px #888;
}

.guess-letter {
	display: inline-block;
	width: 60px;
	font-size: 42px;
	margin: 8px;
	text-align: center;
	border-radius: 8px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

.guess-letter.match {
	background-color: rgb(201, 180, 88);
}

.guess-letter.pos-match {
	background-color: rgb(106, 170, 100);
}

.guess-letter.no-match {
	background-color: rgb(120, 124, 126);
}

.not-a-word {
	background-color: red;
}

.hidden {
	display: none;
}

#game-result {
	margin-top: 12px;
	margin-left: 22px;
	width: 400px;
}

#game-result .button {
	margin-left: 130px;
	width: 120px;
}

#result-text {
	margin-bottom: 22px;
	font-size: 32px;
	text-align: center;
}

#answer-word {
	font-weight: bold;
	color: #44993d;
	font-size: 40px;
}

#header {
	margin: 22px;
	font-size: 36px;
	width: 400px;
	color: #44993d;
}

#header img {
	height: 32px;
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	box-shadow: 4px 4px 8px 2px #888;
	float: right;
}

#header img:hover {
	background-color: #44993d;
	cursor: pointer;
}

#info {
	display: inline-block;
}

#clock {
	font-size: 14px;
	text-align: right;
	vertical-align: top;
}

#word-space-size {
	font-size: 14px;
	vertical-align: top;
	text-align: right;
	width: 224px;
}

#stats-modal .header {
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}

#stats-modal .button {
	position: absolute;
	top: 356px;
	left: 22px;
	width: 80%;
}

#stats-modal #no-stats {
	text-align: center;
	font-size: 20px;
	margin-top: 40px;
}

#game-stats {
	margin: 8px;
}

.num-wins-bar {
	height: 24px;
	background-color: #44993d;
	text-align: right;
	padding-right: 8px;
	border-radius: 4px;
	border-width: 1px;
	border-color: #222;
	border-style: solid;
}

#times {
	margin-left: 70px;
}

#times .row {
	display: inline-block;
	margin-right: 14px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#times .label {
	font-weight: bold;
}

#other-stats-container {
	margin-left: 28px;
}

#other-stats-container #mean-num-guesses {
	margin-left: 8px;
	font-size: 18px;
	font-weight: bold;
}

.button {
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #222;
	padding: 8px;
	background-color: #44993d;
	cursor: pointer;
	text-align: center;
	box-shadow: 4px 4px 8px 2px #888;
	color: white;
	font-size: 22px;
}

.button:hover {
	background-color: #444;
}

.modal {
	position: absolute;
	top: 10%;
	left: calc(50% - 150px);
	height: 400px;
	width: 300px;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #222;
	padding: 8px;
	background-color: #fff;
	box-shadow: 0px 0px 20px 20px #444;
}
