body {
	font-family: Lato;
}

#game-container {
	width: 404px;
	min-height: 80px;
	background-color: bisque;
	border-radius: 8px;
	margin: 18px;
}

.guess-letter {
	display: inline-block;
	width: 60px;
	font-size: 42px;
	margin: 8px;
	text-align: center;
	border-radius: 8px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

.guess-letter.match {
	background-color: rgb(201, 180, 88);
}

.guess-letter.pos-match {
	background-color: rgb(106, 170, 100);
}

.guess-letter.no-match {
	background-color: rgb(120, 124, 126);
}

.not-a-word {
	background-color: red;
}

.hidden {
	display: none;
}

#game-result {
	margin-top: 12px;
	margin-left: 22px;
	width: 400px;
}

#game-result .button {
	margin-left: 130px;
	width: 120px;
}

#result-text {
	margin-bottom: 22px;
	font-size: 32px;
	text-align: center;
}

#answer-word {
	font-weight: bold;
	color: #44993d;
	font-size: 40px;
}

.button {
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #222;
	padding: 8px;
	background-color: #44993d;
	cursor: pointer;
	text-align: center;
	box-shadow: 4px 4px 8px 2px #888;
	color: white;
	font-size: 22px;
}

.button:hover {
	background-color: #444;
}
